@use './variables' as var;
@use './mixins' as mxn;

footer {
    @include mxn.flex(column, 0);
    font-size: var.$font-size-footer;
    color: white;
    .info {
        @include mxn.flex(column, 0);
        background-image: url('../assets/images/footer-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
        .info-container {
            @include mxn.flex(column, 2rem);
            padding: 3rem 2rem;
            max-width: var.$width-container;
            .card-info {
                @include mxn.flex(column, 0);
                h6 {
                    font-size: var.$font-size-title-footer;
                    padding: 1.6rem 0;
                    @include mxn.flex(row, 0);
                    @include mxn.borderDashed(white);
                }
                a {
                    padding: 1rem;
                    color: white;
                    transition: all .2s ease-in;
                    font-size: 2rem;
                    &:hover {
                        color:var.$color-red;
                    }
                }
                span {
                    padding: .5rem 0;
                }
            }  
            @media (min-width: 780px) {
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                .card-info {
                    max-width: 30%;
                    min-width: 30%;
                }
            }
        } 
    }
    .terms {
        width: 100%;
        background-color: var.$color-footer-bg;
        .terms-container {
            @include mxn.flex(column, 2rem);
            padding: 2rem 4rem 4rem;
            .adaptive-img-contain {
                width: 64px;
                height: 64px;
            }
            p {
                text-align: center;
                max-width: var.$width-container;
                span, a, a:visited {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }
}