@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;500;700&family=Merienda:wght@400;700&display=swap');

$color-brown: #4c4343;
$color-light : #ebe3db;
$color-red : #950000;
$color-footer-bg: #444444;
$font-default: 'Athiti', sans-serif;
$font-title: 'Merienda', cursive;
$font-size-title: 3rem;
$font-size-default: 1.8rem;
$font-size-form: 1.6rem;
$font-size-title-footer:1.8rem;
$font-size-footer: 1.6rem;
$width-container: 1400px;
$max-width-container: 1400px;