@use '../variables' as var;
@use '../mixins' as mxn;

.filtered-list {
    width: 100%;
    min-height: 380px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:  4rem 1rem;
    position: relative;
    padding-bottom: 3rem;
    button {
        border: none;
        outline: none;
        background-color: var.$color-light;
        color: var.$color-brown;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-weight: 700;
        max-width: fit-content;
        position: relative;
        &:focus {
            background-color: var.$color-red;
            color: white;
        }
        &[data-filter="meat"]:focus ~ div:not([class*="meat"]) {
            display:none;
        }
        &[data-filter="fish"]:focus ~ div:not([class*="fish"]) {
            display:none;
        }
        &[data-filter="vegan"]:focus ~ div:not([class*="vegan"]) {
            display:none;
        }
        @media (min-width: 1108px) {
            height: fit-content;
        }
    }
    .cheat-div {
        width: 0px;
        max-height: 30px;
        @media (min-width: 720px) {
            width: 80px;
        }
        @media (min-width: 813px) {
                width: 180px;
        }
        @media (min-width: 1108px) {
            width: 280px;
        }
    }  
    .cheat-container {
        width: 100%;
        height: calc(100% - 60px);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -4;
        background-color: var.$color-light;
    }
}