@use '../variables' as var;
@use '../mixins' as mxn;

.sides {
    @include mxn.flex(column, 2rem);
    .container-sides-card {
        @include mxn.flex(row, 5rem 1rem);
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 2rem;
        background-color: var.$color-light;  
        @media (min-width: 780px) {
            justify-content: space-between;
            padding: 5rem 1rem 3rem;
        }
        @media (min-width: 980px) {
            padding: 5rem 2rem 3rem;
        }
    }
}