@use '../variables' as var;
@use '../mixins' as mxn;

.hero {
    @include mxn.flex(column, 1.2rem);
    .hero-container {
        @include mxn.flex(column, 2rem);
        .adaptive-img-cover {
            min-width: 240px;
            min-height: 340px;
            width: 100%;
            height: 100%;
            @media (min-width: 780px) {
                @include mxn.minMax(550px);
            }
            @media (min-width: 980px) {
                max-width: 40%;
                min-width: 40%;
                @include mxn.minMax(340px);
            }
        }
        .hero-text {
            @include mxn.flex(column, 2rem);
            line-height: 1.5;
        }
        @media (min-width: 980px) {
            @include mxn.flex(row-reverse, 3rem);
            align-items: flex-start;
        }
    }
}