@use '../variables' as var;
@use '../mixins' as mxn;

.special-menus {
    @include mxn.flex(column, 2rem);
    .animated {
        .adaptive-img-cover {
            position: relative;
            min-width: 240px;
            min-height: 340px;
            width: 100%;
            height: 100%;
            transform: scale(1);
            box-shadow: none;
            &:hover {
                transform: scale(1);
            }
            .container-price {
                max-height: 340px;
                min-height: 340px;
                .price {
                    max-height: 280px;
                    min-height: 280px;
                }
            }
            @media (min-width: 780px) and (max-width: 989px) {
                max-height: 550px ;
                min-height: 550px ; 
                .container-price {
                    min-height: 100%;
                    .price {
                        max-height: 490px ;
                        min-height: 490px ;
                    }
                }
            }
        }
    }
    .container-special-menus {
        @include mxn.flex(column, 2.5rem);
        .card-special-menus {
            padding: 1.6rem 0;
            @include mxn.flex(column, 0);
            background-color: var.$color-light;
            h3 {
                padding-bottom: 1.6rem;
                font-size: 2rem;
                &:before, &:after {
                    @include mxn.star;
                }
            }
            .container-card-special-menus {
                width: 100%;
                padding: 1.6rem 3rem;
            }
            & > span {
                padding: 1.6rem 4rem;
                border-bottom: 1px dashed var.$color-brown;
                font-size: 1.5rem;
                @include mxn.flex(row, 1rem);
                justify-content: flex-start;
                &:before {
                    @include mxn.star;
                }
            }
            button {
                @include mxn.flex(row, 1rem);
                @include mxn.button;
                .adaptive-img-contain {
                    width: 24px;
                    aspect-ratio: 1/1;
                }
            }
        }
        @media (min-width: 980px) {
            @include mxn.flex(row, 3rem);
        }
    }
}