@use '../variables' as var;
@use '../mixins' as mxn;

.form {
    @include mxn.flex(column, 2rem);
    p {
        display: flex;
        gap: 1.8rem;
        font-size: var.$font-size-form;
        span:before {
            font-style: italic;
        }
    }
    span, label {
        position: relative;
        &:before {
            @include mxn.star;
            border-bottom: 1px dotted var.$color-red;
            position: absolute;
            top: 5px;
            left: -12px;
            font-size: .7rem;
            padding-bottom: 3px;
        }
    }
    .form-container {
        @include mxn.flex(column, 2rem);
        padding: 2rem 3.5rem;
        background-color: var.$color-light;
        font-size: var.$font-size-form;
        input, textarea {
            outline: none;
            padding: 1rem;
            border-radius: 5px;
            width: 100%;
        }
        input {
            min-height: 35px;
            max-height: 35px;
            display: block;
        }
        .form-container-top {
            @include mxn.flex(row,0);
            justify-content: space-between;
            .booking, .details {
                display: flex;
                flex-direction: column;
                width: 47%;
                gap: 1rem;
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        }
        .form-container-bottom {
            @include mxn.flex(column, 1rem);
            align-items: flex-start;
            label:before {
                display: none;
            }
        }
        button {
            @include mxn.button;
            width: 40%;
            border-radius: 5px;
            font-weight: 500;
            letter-spacing: 2px;
            font-family: var.$font-default;
        }
    }
    @media (min-width: 980px) {
        width: 85%;
    }
}